.categories-container {
    width: 300px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    border-right: solid 3px var(--primary-color);
    background-color: white;
}

.categories-container-hidden {
    display: none;
}

.categories-container-close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.categories-container-close-button {
    margin: 11px 5px 0 0;

    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    outline: none;
}

.categories-container-close-button:hover {
    cursor: pointer;
}

.categories-container-close-icon {
    width: 50px;
    height: 50px;
}