.plants-list {
    height: 100%;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-gap: 0 15px;
    justify-content: center;

    padding: 40px 0 50px 0;
}

@media(max-width: 460px) {
    .plants-list {
        padding-top: 12px;
    }
}

@media(max-width: 715px) {
    .plants-list {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }
}

@media(max-width: 950px) {
    .plants-list{
        grid-template-columns: repeat(auto-fill, 350px);
    }
}