.plant-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.plant-card {
    margin-bottom: 50px;
    width: 400px;
    height: 145px;
    padding: 0 0 0 25px;
    
    border-left: solid 3px var(--primary-color);
    border-bottom: solid 3px var(--primary-color);
    border-right: solid 3px var(--primary-color);

    display: flex;
    flex-direction: row;
}

.plant-card:hover {
    cursor: pointer;
    box-shadow: -3px 3px 0px 3px #ffa5c4;
}

.plant-card-img {
    height: 120px;
    min-width: 120px;
    max-width: 120px;

    background-size: cover;
    background-position: center center;
}

.plant-card-info {
    flex-grow: 1;
    max-height: 120px;
    padding: 0 5px 0 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.plant-card-name, .plant-card-scientific-name {
    text-overflow: ellipsis;
    overflow: hidden;

    text-align: center;
    font-size: 24px;
    color: var(--primary-color);
}


.plant-card-name {
    font-weight: bold;
    margin-bottom: 12px;
}

@media(max-width: 460px) {
    .plant-card {
        flex-direction: row;
        align-items: center;
        width: 80vw;
        max-width: 80vw;
        height: 80px;
        margin: 0 auto 18px auto;
        padding-left: 10px;
    }

    .plant-card-img {
        min-width: 64px;
        max-width: 64px;
        height: 64px;
    }

    .plant-card-name {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .plant-card-scientific-name {
        font-size: 18px;
    }
}

@media(max-width: 950px) {
    .plant-card {
        width: 300px;
    }
}

@media(max-width: 715px) {
    .plant-card {
        width: 80vw;
    }
}