.plant-container {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0 7px 0 7px;
}

.plant-title, .plant-scientific-name {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

.plant-container p, .plant-container span, .plant-container em, .plant-container li {
    color: #757575 !important;
}

.plant-container a, .plant-container h1, .plant-container h2 {
    color: var(--primary-color) !important;
}

.plant-container img {
    max-width: 95vw;
}

@media(max-width: 500px) {
    .plant-container p {
        font-size: 12px;
    }
}