.plants-page-container {
    position: relative;
}

.plants-list-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.plants-list-title-container {
    display: flex;
    justify-content: center;
}

.plants-list-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}

@media(max-width: 460px) {
    .plants-list-title {
        font-size: 36px;
    }   
}