.footer {
    background-color: #E5E5E5;
    border-top: solid 3px var(--primary-color);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 8px;
}

.footer-description {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

.footer-flower {
    height: 70px;
    width: 70px;
}

.footer-icons {
    padding-top: 7px;
}

.footer-icon {
    height: 50px;
    width: 50px;
}

.footer-icon:first-child {
    margin-right: 15px;
}